.landing{
    position: absolute;
width: 1350px;
height: 498px;
left: 0px;
top: 126px;
}

.search{
    
top: 10px;
margin-left: 75px;
border-radius: 35px;
padding-left: 20px;
background-color: gainsboro;

}
  .section2{
      padding-top: 650px;
  }
 h2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-family: Noto Sans Thai;
    color: white;
    font-weight: 50;
 }
 .section2{
  
    justify-content: center;
    

}
.div1 {
    width: 1200px;
    height: 250px;  
    padding: 50px;
    border: 1px solid black;
    margin-left: 15px;
    border-radius: 33px;
    font-family:  Noto Sans Thai;
    text-align: center;
    background-color:#f1d4d4;
    
    
 

    
} 
.div2{
margin-top: 20px;
width: 1200px;
height: 250px;  
padding: 50px;
border: 1px solid black;
margin-left: 15px;
border-radius: 33px;
text-align: center;
font-family:  Noto Sans Thai;
text-align: center;
background-color: #f1d4d4;

    
    
}

.button1{
color: #f1d4d4;
height: 40px;
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 150%;
width: 100px;
border-radius: 10px;
margin-top: 150px;
background-color: #790c5a;
}
h1{
    margin-top: 0px;
}

.button{
    
    margin-left: 450px;
    width: 100px;
    border-radius: 5px;
    background-color: #790c5a;
    color:  #f1d4d4;
}
.button2{

    margin-left: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #790c5a;

color: #f1d4d4;
}
#icon{
    margin-left: 100px;
    background-color: silver;
    font-size: 25px;
    height: 25px;
    width: 50px;
    text-align: center;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      background-color: lightcoral;
        color: white;
        text-align: center;
      }
   

  