* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.drop-down-form {
    display: none;
    background-color: #f5dbe6;
    ;
    margin-left: 2%;
    width: 30%;
    height: 435px;
}

.form-title {
    margin-bottom: 15px;
    margin-left: 3%;
}

.label-form {
    margin-left: 3%;
}

.input-form {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3%;
    width: 90%;
    height: 30px;
}

#submit-form {
    margin-left: 3%;
}

.allProducts {
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid black;
    padding: 10px;
    height: 90%;
}

.product img {
    padding: 10px;
    height: 50%;
}

.product span {
    text-align: center;
    padding: 10px;
}

.data,
.seller-btn {
    display: flex;
    justify-content: space-around;
}

.delete-btn,
.edit-btn,
#add,
#submit-form {
    border: solid 1px #f5dbe6;
    background-color: #f5dbe6;
    outline: none;
    border-radius: 35px;
    width: 40%;
}

#submit-form {
    background-color: #5e6075;
}

#add {
    width: 16%;
    margin-bottom: 4px;
}